.bb {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  background-size: 100% 100%;
}

.bb-certificate {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' class='icon' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23505363' d='M981.333 85.333V426.54H896l-.043-255.872h-768V768h512.299v85.333H42.666v-768z'/%3E%3Cpath fill='%2300B259' d='M853.333 470.87a170.667 170.667 0 1 0 0 341.333 170.667 170.667 0 0 0 0-341.334zm0 85.333a85.333 85.333 0 1 1 0 170.666 85.333 85.333 0 0 1 0-170.666z'/%3E%3Cpath fill='%2300B259' d='m695.21 907.904 158.123-157.44 158.123 157.44-60.245 60.459-97.878-97.536-97.877 97.536z'/%3E%3Cpath fill='%23505363' d='M342.144 255.787v85.333H213.632v-85.333zm298.496 170.88V512H213.76v-85.333zm169.856-170.88v85.333h-384v-85.333zm-255.53 341.76v85.333H213.631v-85.333z'/%3E%3C/svg%3E");
}

.bb-error {
  --data: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' class='feather feather-alert-circle vue-feather__content' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 8v4M12 16h.01'/%3E%3C/svg%3E");
  mask-image: var(--data);
  -webkit-mask-image: var(--data);
  background-color: currentColor;
}

.bb-file {
  --data: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' class='icon' viewBox='0 0 1024 1024'%3E%3Cpath fill='%2320A0FF' d='M923.82 133.567c-55.232 0-100.168 44.936-100.168 100.168v623.3c0 5.193 1.2 10.305 3.52 14.937l66.783 133.567a33.392 33.392 0 0 0 59.736 0l66.784-133.567a33.36 33.36 0 0 0 3.52-14.936V233.735c0-55.232-44.936-100.168-100.176-100.168zm33.391 715.589-33.392 66.783-33.392-66.783v-25.504h66.784v25.504zm0-92.288h-66.776V400.694h66.776v356.174zm0-422.958h-66.776V233.735a33.432 33.432 0 0 1 33.384-33.392 33.432 33.432 0 0 1 33.392 33.392v100.183zM723.476 0a33.392 33.392 0 0 1 33.392 33.392v957.211a33.392 33.392 0 0 1-33.392 33.392H233.735c-8.888 0-17.44-3.6-23.624-9.8L9.792 813.875A33.696 33.696 0 0 1 0 790.26V33.392A33.392 33.392 0 0 1 33.392 0h690.076zM200.343 909.995v-86.343h-86.344l86.344 86.343zm489.741 47.216V66.784h-623.3V756.86h166.959a33.392 33.392 0 0 1 33.384 33.4v166.96h422.957zM456.342 133.567a33.392 33.392 0 0 1 0 66.784H300.518a33.392 33.392 0 1 1 0-66.784h155.824zm133.575 155.824a33.392 33.392 0 0 1 0 66.783H166.959a33.392 33.392 0 1 1 0-66.783h422.958zm0 133.567a33.392 33.392 0 0 1 0 66.776H166.959a33.392 33.392 0 0 1 0-66.776h422.958zm0 133.56a33.392 33.392 0 0 1 0 66.783H166.959a33.392 33.392 0 1 1 0-66.784h422.958zm0 133.566a33.392 33.392 0 0 1 0 66.784H367.302a33.392 33.392 0 1 1 0-66.784H589.91zm0 133.568a33.392 33.392 0 0 1 0 66.775H367.302a33.392 33.392 0 1 1 0-66.775H589.91z'/%3E%3C/svg%3E");
  mask-image: var(--data);
  -webkit-mask-image: var(--data);
  background-color: currentColor;
}

.bb-home {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' class='icon' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23E8EAF6' d='M896 832H128V490.667L512 128l384 362.667z'/%3E%3Cpath fill='%23C5CAE9' d='M832 448 725.333 341.333V192H832zM128 832h768v106.667H128z'/%3E%3Cpath fill='%23B71C1C' d='m512 91.733-426.667 396.8L128 535.467 512 179.2l384 356.267 42.667-46.934z'/%3E%3Cpath fill='%23D84315' d='M384 597.333h256v341.334H384z'/%3E%3Cpath fill='%2301579B' d='M448 362.667h128v128H448z'/%3E%3Cpath fill='%23FF8A65' d='M586.667 757.333c-6.4 0-10.667 4.267-10.667 10.667v42.667c0 6.4 4.267 10.666 10.667 10.666s10.666-4.266 10.666-10.666V768c0-6.4-4.266-10.667-10.666-10.667z'/%3E%3C/svg%3E");
}
